* {
font-family: Arial;
font-size:12px;
}

.text {
	font-size:22px;
	text-align:center;
	color:#ffffff;
	margin-bottom:10px;
}
body { 
	margin:0;
	padding:0;
	background:url('../images/bg.png') repeat scroll 0% 0%; 
	background-size:100%;
}

header{
	width:100%;
	height:50px;
	border-top:3px solid #e61b0a;
	background-color:white;
}
.logo{
	position:absolute;
	top:14px;
	left:50%;
	margin-left: -480px;
	height:98px;
	width:465px;
	background:url('../images/magnodams_logo.png');
}
.clr {clear: both;}

.container{
	margin: auto;
	padding-top:90px;
	width:920px;
	
}
.step{
	width:919px;
	height:126px;
	background:url('../images/step.png');
}
.login{
	margin:40px auto;
	height:300px;
	width:500px;
	background:url('../images/form.png') ;
}
.login form{	
	margin-top:30px;
	text-align:center;
	width:480px;
}
.login input{
	margin:5px auto;
	padding:5px 10px 5px 20px;
	font-family:"Helvetica";
	border-radius:10px;	
	width:360px;
	height:20px;
	background-color:rgba(255,255,255,0.5);
	border:1px solid #afafaf;
	font-weight:bold;
	font-size:13px;
	color:#414141;
}

.login input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #afafaf;
}
.login  input:-moz-placeholder, textarea:-moz-placeholder {
  color: #afafaf;
}
.text-login{
	width:180px;
	margin:auto;
	text-align:center;
	padding-top:80px;
	font-size:19px;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
	height:20px;
}
.error_text{
	height:15px;
	margin-top:10px;
	font-size:14px;
	color:#b80505;
}
.company{
	margin:30px auto;
	width:469px;
	height:124px;
	background:url('../images/company.png') ;
}
.company .name{
	text-align:center;
	padding-top:30px;
	font-size:25px;
	font-weight:bold;
	color:rgba(0,0,0,0.3);
}
footer{
	/*position:absolute;*/
	bottom:0;
	width:100%;
	height:75px;
	border-bottom:3px solid #e61b0a;
	background-color:rgba(255,255,255,0.55);
}
footer .cont{
	font-size:13px;
	font-weight:bold;
	color:#120e61;
	margin:auto;
	padding:30px 0 ;
	width:920px;
}
footer .l{
	float:left;
}

footer .r{
	width:300px;
	float:right;
	text-align:right;	
}

footer .r a{	
	color:#120e61;
}