*{
	font-family:'Helvetica', Arial, MS Sans Serif;
	font-size:14px;
}
table{
	border-collapse:collapse;
} 
th,td { 
	padding:3px;
	border:1px solid #8d8d8d;
}
th{
	background-color:#d5d2d2;
}

tr:nth-child(odd){
	background-color:#f8f7f7;
}

