@font-face {
	font-family: eurostile;
	src: url('../font/eurostile-extended-2.ttf');

	font-family: avenir;
	src: url('../font/avenir-heavy.ttf');	
	
	font-family: raleway-reg;
	src: url('../font/Raleway-Regular.otf');	
}

* {
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-size:14px;
}
.font-rale {
	font-family: raleway-reg;
}
.h1-rale{
	font-family: raleway-reg;
	font-size:35px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.h2-rale{
	font-family: raleway-reg;
	font-size:25px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.h3-rale{
	font-family: raleway-reg;
	font-size:20px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.h4-rale{
	font-family: raleway-reg;
	font-size:15px;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
html, input, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	border: 0;
	padding: 0 0 0 0;
	outline: 0;
	
}

header, nav, section, aside, footer, figure, article { display: block; margin: 0; padding: 0; }

body { 
	background:url('../../img/bgnoise.png') repeat scroll 0% 0% rgb(238, 238, 238);  
	
}

a {text-decoration: none;color:#32A352;/*#A9ABAE;*/}
a:hover{color:#A8CF45;}
.clr {clear: both;}
.clr.hf{height: 20px;}

#top-div{

	background: black;
	height: 120px;
	width: 100%;
}

.line{
border:1px solid white;
width:50px;
height:1px;
}

footer{
margin-top:20px;
height: 30px;
position:relative;
text-align:center;
width:100%;
bottom:0px;
}

#head ,#content-nav { 
	margin: auto;
	width:960px;
}

#head-dams{
	width: 350px;
	height: 140px;
	float: left;
	background:url("../../img/magno_logo200.png") no-repeat center center transparent;	
}
.head-profile{
float:right;
text-align:right;
color:white;padding-top:10px;
}
.head-profile a{color:#8FCB81;}
.head-profile a:hover{color:#B0DAB3;}
#head-top {width: 100%;}
.page-container{
	position: relative;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px;
	width: 940px;
	margin: 0 auto;	
	min-height:600px;
	box-shadow:10px;
}
.home td{
	padding:5px;
}


.left-container{
	width:200px;
	float:left;
}
.right-container{
	width:740px;
	float:right;
}
.bc{
	margin:10px;
	padding:10px 5px;
	border:1px solid #BDBFC1;
	background-color:white;
	border-radius:5px;
	box-shadow: 5px 5px 5px #888888;
}
.content{
	margin:10px;
	padding:10px;
	border:1px solid #BDBFC1;
	background-color:white;
	border-radius:5px;
	box-shadow: 5px 5px 5px #888888;
	min-height: 500px;
}
.content table{
	margin:10px 0;
	width: 100%;
}
/*.content th{
	padding:3px 5px;
	background-color: rgba(0,0,0,0.1);
	text-align:left;
}
.content td{
	padding:3px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}*/
input[type=radio]{margin:0;padding:0}

.crud-top {
	margin:10px 0;
}
.crud-top .l{
	float:left;
}
.crud-top .r{
	float:right;
}
.menu{
margin:10px;
border:1px solid #BDBFC1;
background-color:white;
border-radius:5px;
padding:5px;
min-height:400px;
box-shadow: 5px 5px 5px #888888;
}

.menu ul{
	margin:0; padding:0;
	list-style:none;
}
.menu li{
padding:3px;
}

.content td{
	padding:5px;
}
.asset-l{
background-color:#E6E7E8;
text-align:center;
margin:5px;
}
.asset-l a{
color:black/*#A9ABAE;*/
}

.asset-l a:hover{
color:#A8CF45;
}

.asset-l ul{
list-style:none;
}
.asset-l li{
padding:10px 0;
}

.asset-l li:hover{
/*background-color:#E6E7E8;/*#A9ABAE;*/
}

nav {
	height: 48px;
	width: 100%;
	background:url(../../img/nav_other2.jpg) repeat-x top; 
	clear: both;
}

nav a{
	display: block;
	height: 48px;
	text-align: center;
	color:white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 48px;
	float: left
}
nav a:hover{
	color: black;
}

nav a#nav-home {
	background:url(../../img/nav_home.jpg) repeat-x top; 
	width: 120px;
}
nav a#nav-document {
	background:url(../../img/nav_document.jpg) repeat-x top; 
	width: 180px;
}nav a#nav-folder {
	background:url(../../img/nav_folder.jpg) repeat-x top; 
	width: 150px;
}
nav a#nav-report {
	background:url(../../images/nav_report.jpg) repeat-x top; 
	width: 130px;
}
nav a#nav-help {
	background:url(../../images/nav_help.jpg) repeat-x top; 
	width: 100px;
}
nav a#nav-mutation {
	background:url(../../images/nav_mutation.jpg) repeat-x top; 
	width: 100px;
}
nav a#nav-other {
	background:url(../../images/nav_other.jpg) repeat-x top; 
	width: 100px;
}

/**
 * content 
 */

#content-nav {
	background: #fff;
	padding: 10px 5px;
	width: 657px;
	border-radius: 5px;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);
}
#content-nav  a{
	color:#32A352;
}
#content-nav  a:hover{
	color:#A8CF45;
}
#content-nav h2,span{
	padding-left: 3px;
}

#content-nav .add{
	text-align: center;
	width: 700px;
}
#content-nav td{
	padding:5px;
	vertical-align:center;
}


#content div#content-right{
	width: 260px;
	float: right;
}
#content div#content-left{
	float: left;
	clear:both;
}

#content-left div.item{
	display: block;
	float: left;
	width: 200px;
	height: 275px;
	background: #fff;
	border: 1px #fff solid;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	cursor: pointer;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	border-radius:5px;
}

#content-left div.item-hover{
	border: 1px #bbb solid;
	background: #E6E7E8;
}

#content-left div.item div.title{
	color: #409ABA;
	/*font-family:raleway-reg;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	float: left;
	width:80%;
}
 a:href .title{
	text-decoration:none;
}
#content-left div.item div.summary{
	width: 172px;
	height: 28px;
	float: left;
	font-size:11px;
	color:#727376;
	/*overflow: hidden;
	text-overflow:ellipsis;*/
}

#content-left .item .count{
	float:right;
	color: grey;
}

.crud-field {
	height: 20px;
	width: 40px;
	/*position:absolute;*/
	clear: both;
	background-color:white;
	margin:auto;
	padding:4px;
	/*box-shadow: 5px 5px 5px #888888;*/
	display:none;
}
.crud-field a:hover{
	text-decoration:none;
}

#item-folder{
	height:250px;
}
.page{
text-align: center;
}

div.nav{
	top: -249px;
	position: relative;
	display: none;
	opacity: 0.9;
	cursor: pointer;
}

div.nav div.edit{
	height: 28px;
	width: 28px;
	background: url(../images/icon-edit.png) no-repeat center center #fff;
	float: left;
}

div.nav div.delete{
	height: 28px;
	width: 28px;
	background: url(../images/icon-trash.png) no-repeat center center #fff;
	float: left;
}

div.nav div.view{
	height: 28px;
	width: 28px;
	background: url(../images/icon-view.png) no-repeat center center #fff;
	float: left;
}


#content-left div.item div.icon{
	width: 28px;
	height: 28px;
	float: right;
}

#content-left div.item div.icon.image{
	background: url(../images/icon-image.png) no-repeat center center;
}

#content-left div.item div.icon.video{
	background: url(../images/icon-video.png) no-repeat center center;
}

#content-left div.item div.icon.folder{
	background: url(../images/icon-folder.png) no-repeat center center;
}

#content-left div.item div.icon.office{
	background: url(../images/icon-office.png) no-repeat center center;
}

#content-left div.item div.icon.default{
	background: url(../images/icon-default.png) no-repeat center center;
}


#list{
	display:none;
    background: none repeat scroll 50px 50 white;
	margin:0 auto;
	width:50%;
    bottom: 0;
	top:150px;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}




.form-document{
}

tr.form, tr.type {
	display: none;
}

.detail div.form-document td {
	vertical-align: top;
	height: 25px;
	padding-right: 5px;
}


/* end content */

.my-load {
	background:url("../images/load.gif") no-repeat center center transparent;
}


#search{
	width: 231px;
	background: white;
	border: 1px #fff solid;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);
}

#search h1{
	background:url(../images/search_head.jpg) no-repeat top left; 
	width: 231px;
	height: 47px;
	margin-bottom: 3px;
}

input[type="text"], input.text, textarea {
	border:1px #ddd solid;
	background: #efefef;
	padding: 5px;
	width: 170px;
}

.detail input[type="text"], input.text, textarea {
	width: 300px;
}

select {
	border:1px #ddd solid;
	background: #efefef;
	width: 210px;
}

/*
button {
	border:1px #ddd solid;
	background: #efefef;
	padding: 5px;
	cee4fe
}*/

/*button, .btn {
	padding: 3px 5px 3px 5px;
	font-family: Arial;
	font-size: 14px;
	text-decoration: none;
	color: red;
	background: -moz-linear-gradient(#edf6fd, #edf6fd 35%, #c7dffe);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #edf6fd),color-stop(.35, #edf6fd),color-stop(1, #c7dffe));
	border: 1px solid #a0c5f0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	cursor: pointer;
}
*/

#search section {
	margin-top: 4px;
	padding-left: 5px;
	font-size: 14px;
}

#search section input[type="checkbox"], input.checkbox{
	margin: 5px;
}

#loader {
	position: fixed;
	width: 800px;
	height: 300px;
	background: #fff;
	text-align: center;
	opacity: .8;
	display: none;
}

#loader div.msg {
	margin: auto;
	margin-top: 200px;
}

#message{
	margin:15px;
	padding: 15px;
}

/*footer {
	text-align: right;
	color: white;
	padding-top: 5px;
}*/

.btnadd{
	background:url("../images/add.png") no-repeat center center transparent;
	width: 16px;
	height: 16px;
}

.btndel{
	background:url("../images/cross.png") no-repeat center center transparent;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-right: 2px;
	float: left;
}

.dcontuser{
	width: 400px;
	padding: 5px;
	margin-top: 5px;
	clear: both;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.item-picture{
	width:200px;
	height:200px; 
	padding:5px;
	margin:0 auto;	
	text-align:center;
}
.item-picture  img{
	width: 190px;
	height:190px;
}


div.pagination {
    padding: 3px;
    margin: 10px 3px;
	text-align:center;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none; /* no underline */
    color: #000099;
}

div.pagination a:hover, div.pagination a:active 
{
    border: 1px solid #000099;
    color: #000;
}

div.pagination span.current 
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #993300;
    color: #FFF;
}
div.pagination span.disabled 
{
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}
.buttona{
	background:url("ui/simple/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% rgb(230, 230, 230);
}

.error_text{
	color:red;
}
.error_text p{
	font-size:12px;
}

#imgdetail{
	max-width:600px;
	max-height:850px;
}

.input-login{
	width:250px;
	min-height:60px;
	padding:20px;
	margin:auto;
	background-color:white;
	border-radius: 10px;
	border:1px solid #E6E7E8;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);
}

input .input-login{
	border-radius: 5px;
	height:35px;
	padding:0 5px;
}

/*.inputLogin input:selected{
	border-radius: 5px;
	border:1px solid #00AFEF;
}*/
.text-shadow {
	color:#96989A;
	font-size:11px;
}

.text-shadow a{
	font-size:11px;
}

.forgot-pass{
	margin-top:10px;
}
.forgot-pass a{
	color:#848688;
	font-size:11px;
}
.forgot-pass a:hover{
	color:#BDBFC1;
	font-size:11px;
}

.login-name{
	margin-bottom:10px;
}

.welcome{
	font-family:raleway-reg;
	font-size:30px;
	text-align:center;
	margin:0 auto;
	width:40%;
}

.btn-custom {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-custom :hover {
color: white !important;
background-color: #0271BF;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear,left top,left bottom,from(#2DADDC),to(#0271BF));
background-image: -moz-linear-gradient(#2DADDC,#0271BF);
background-image: -ms-linear-gradient(#2DADDC,#0271BF);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2DADDC),color-stop(100%,#0271BF));
background-image: -webkit-linear-gradient(#2DADDC,#0271BF);
background-image: -o-linear-gradient(#2DADDC,#0271BF);
background-image: linear-gradient(#2DADDC,#0271BF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
border-color: #096EB3 !important;
cursor: pointer;
}

.bar {
    height: 18px;
	width:100px;
    background: green;
}
.admin-left{
	margin-top:50px;
	border: 1px solid #eee;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);	
	padding:10px 10px 20px 10px;
	background-color:white;
	border-radius: 5px;
	min-height:400px;	
}
.admin-menu{
	margin:10px;
	padding:5px;
}
.admin-menu li{
	line-height:20px;
}
.admin-h{
	margin-top:20px;
	font-family:raleway-reg;
	font-size:25px;
}
.admin-content{
	margin:18px 10px 10px 20px;
	border: 1px solid #eee;
	-webkit-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	-moz-box-shadow : 0px 0px 8px rgba(0,0,0,.1);
	box-shadow : 0px 0px 8px rgba(0,0,0,.1);	
	padding:10px 10px 20px 10px;
	background-color:white;
	border-radius: 5px;
	min-height:400px;	
}
#reg-container{
	width:500px;
	min-height:450px;
	margin:auto;
	padding-left:30px;
}
#reg-container input{
	width:200px;
	padding: 0 5px;
}
#reg-container td{
	padding:5px;
}
.login-reg-h{
	border-bottom: 1px solid rgb(226, 226, 226);
	padding-bottom:3px;
	margin-bottom:10px;
	font-size:17px;
	font-family:raleway-reg;
}

.profile-photo{
	float:left;
	width:200px;
}
.profile-photo img{
	border: 1px solid #eee;
}
.profile-name{
	float:right;
	width:400px;
	font-family:raleway-reg;
	font-size:20px;
}
.profile-name td{
	padding:5px;
	font-family:raleway-reg;
	font-size:20px;
}
.profile-pass{
	margin:30px 0 10px 0;
	width:100%;
}

#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
	background: #eee url("../filedrag3/progress.png") 100% 0 repeat-y;
}

#progress p.success{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed{
	background: #c00 none 0 0 no-repeat;
}

.error{	
	margin:0;
	color:red;
}

.install{
	width:100%;
	margin:20px auto;	
}

.install .name{
	font-size:20px;
	color:#0098DA;
	font-weight:bold;
	text-align:right;
}
.install .l, .r{
	margin:5px;
	width:45%;
	border-radius:5px;
	border:1px solid #BDBFC1;
	padding:5px;
	background-color:rgba(0,0,0,0.1);
	height:150px;
}
.install .l{
	float:left;
}
.install .r{
	float:right;
}

/*
.install .r{
	margin:5px;
	width:45%;
	float:right;
	border:1px solid #BDBFC1;
	border-radius:5px;
	padding:5px;
	background-color:rgba(0,0,0,0.1);
}*/
.list-container{
	margin: 0 auto;
	min-height:500px;
}
.list-container ol{
	list-style-type:none;
	margin:0; padding:0;
}
.list-container li{
	list-style-type:none;
	padding:5px;
}
.thumb{
	width:150px;
	height:180px;
	margin:5px;
	padding:5px;
	float:left;
	border-radius:5px;
	border:1px solid #BDBFC1;
}

.thumb .nail {
	margin:0 auto;
	text-align:center;
	width:150px;
	height:150px;
	/*border:1px solid #BDBFC1;*/
}

.thumb  .nail .gbr{
	width:150px;
	height:150px;
}

.overlay {
	display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.3);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
}
.popup{
	position: fixed;
	top: 350px;
	left: 50%;
	/*display:none;*/
}

.lt {
	float:left;
}

.list-search{
	/*width:100%;*/
	background-color:white;
	z-index:100;
	min-height:100px;
	margin:10px 0;
	padding:10px;

}

.profile-l{
	float:left;
}

.profile-l .img{
	width:200px;
	height:250px;
	border:1px solid #BDBFC1;
}

.profile-l .name{
	width:202px;
	height:50px;
	background-color:#ba1509;
	color:white;
	position:absolute;
	text-align:center;
	top:305px;
}
.profile-l  .name .full{
	font-size:20px;
}
.profile-l  .name .half{
	font-size:15px;
}
.profile-r{
	float:right;
	width:470px;
}

.u-cont{
	margin:5px 0 10px 0;
}
.u-cont .h{
	padding:3px 10px;
	background-color:#0d2082;
	color:white;
}
.u-cont .c{
	padding:5px;
	background-color:#dadff7;
	height: 40px;
	font-size:25px;
	text-align:right;
}

