@font-face {
    font-family: "Oldsh";
    src: url(http://macs909.magno9.com/assets/font/oldsh.TTF);
}
* {
font-family: 'Lato', sans-serif;
font-size:12px;
letter-spacing: 1px;
}
html { 
  background: url('../../images/bg.png')  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body { 
	margin:0;
	padding:0;
	/*background:url('../../images/bg.png') no-repeat scroll 0% 0%; 
	background-size:100%;
	height:100%;*/
}
.text {
	font-size:22px;
	text-align:center;
	color:#ffffff;
	margin-bottom:10px;
}


h1,h2,h3,h4{
	margin:5px 0;
}

h1{
	font-weight:bold;
	font-size:30px;
}
header{
	width:100%;
	height:130px;
	border-top:3px solid #676767;
	background-color: rgba(245,245,245,0.4);
	z-index: 99;
}

header .user{
	margin:13px auto;
	width:960px;
	font-weight:bold;
	text-align:right;
	color:#313b5c;
}
header .user .name{
	width:880px;
	float:left;
	margin-top:3px;
	
}
header .user .out{
	width:80px;
	float:right;
}
iframe{
	border:0;
	margin:0;
	padding:0;
}
#frame-ori{
	height:50px;
	width:100%;
}
#frame-prev{
	width:100%;
	height:50px;
}
.btn a{
	text-decoration:none;
}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #676767;
  *background-color: #676767;
  background-image: -moz-linear-gradient(top, #676767, #676767);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#676767));
  background-image: -webkit-linear-gradient(top, #676767, #676767);
  background-image: -o-linear-gradient(top, #676767, #676767);
  background-image: linear-gradient(to bottom, #676767, #676767);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn-primary {
  color: #ffffff;
  background-color: #676767;
 
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

input[type="text"],input[type="password"],textarea,select{
	width:300px;
	padding:5px;
	border-radius:3px;
}

textarea{
	height:70px;
}

select{
	width:315px;
}
.logo{
	position:absolute;
	top:10px;
	left:50%;
	margin-left: -550px;
	height:92px;
	width:335px;
	/*background:url('../../images/magnodams_logo.png');*/
	z-index: 1;
	
}

.logo img{
	width:100%;
}
.clr {clear: both;}

.container{
	width:960px;
	margin:auto;
	height: auto;
	min-height: 100%;
	position:relative;
	
    /*height:auto;
    bottom:78px;
    top:52px;
    left:0;
    right:0;*/
}
.left-container{
	float:left;
	width:199px;	
	height: auto;
	min-height: 100%;
	
    /*position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;*/
	background-color:rgba(191,191,191,0.4);
}

.right-container{	
	width: 760px;
	float:right;
	min-height: 763px;
	/*margin-top: 70px;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 50%;
	right: 0;
	margin-left: -282px;*/	
}
.conair{
	margin-top:70px;
	background-color:#fff;
}
.step{
	width:919px;
	height:126px;
	background:url('../../images/step.png');
}
.login{
	margin:40px auto;
	height:300px;
	width:500px;
	background:url('../../images/form.png') ;
}
.login form{	
	margin-top:30px;
	text-align:center;
	width:480px;
}
.login input{
	margin:5px auto;
	padding:5px 10px 5px 20px;
	font-family:"Vanlose";
	border-radius:10px;	
	width:360px;
	height:20px;
	background-color:rgba(255,255,255,0.5);
	border:1px solid #afafaf;
	font-weight:bold;
	font-size:13px;
	color:#414141;
}

.login input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #afafaf;
}
.login  input:-moz-placeholder, textarea:-moz-placeholder {
  color: #afafaf;
}
.text-login{
	width:180px;
	margin:auto;
	text-align:center;
	padding-top:80px;
	font-size:19px;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
	height:20px;
}
.error_text{
	height:15px;
	margin-top:10px;
	font-size:14px;
	color:#b80505;
}
.company{
	margin:30px auto;
	width:469px;
	height:124px;
	background:url('../../images/company.png') ;
}
.company .name{
	text-align:center;
	padding-top:30px;
	font-size:25px;
	font-weight:bold;
	color:rgba(0,0,0,0.3);
}

footer{
	width:100%;
	border-bottom:3px solid #0F226C;
	background-color:rgba(255,255,255,0.55);
	clear: both;
	position: relative;
	z-index: 10;	
	height:110px;
	margin-top: -75px;
}

footer .cont{
	font-size:13px;
	font-weight:bold;
	color:#0F226C;
	margin:auto;
	padding:30px 0 ;
	width:920px;
	text-align:center;
	letter-spacing: 1px;
}
footer span{
	font-size: 16px;
}
footer a {
	color: #0F226C;
	font-style:none;
}

footer .l{
	float:left;
}

footer .r{
	width:300px;
	float:right;
	text-align:right;	
}

footer .r a{	
	color:#0F226C;
}

.overlay{
	display:none;
}



.menu{
	margin-top:70px;
}
.menu a{
	color:#0F226C;
	text-decoration:none;
	letter-spacing: 2pt;
	
}
/*.menu a:hover{
	color:#cb2235
}*/
.menu ul{
	list-style:none;
	padding:0;
	margin:0;
}
.menu a:hover{
color:white;
}
.menu li{
	/*width:200px;*/
	height:34px;
	/*background:url('../../images/menuli.png') no-repeat;*/
	list-style:none;
	padding-top:17px;
	text-align:center;
	margin:0;
	box-shadow: 0 -1px 2px #888888;
}


.menu li:hover{	
	background-color:#2e3858;
}

.menu li:hover a{	
	color:white;
}

.menu-sub {
	position:absolute;
	background:url('../../images/submenu-back.png') no-repeat;
	width:235px;
	height:100px;
	left:50%;
	margin-left:-280px;
	top:122px;
	overflow: hidden;
	z-index:199;
	display:none;
}
.menu-sub a{
	font-size:15px;
	color:white;
}
.menu-sub ul{
	list-style:none;
	padding:0;
	margin:0;
}

.menu-sub li{
	height:30px;
	list-style:none;	
	margin:0;
	text-align:left;
	padding:10px 10px;
	border:0;
	box-shadow: 0;
}

.menu-subfix {
	position:absolute;
	background:url('../../images/submenu-backfix.png') no-repeat;
	width:235px;
	height:200px;
	left:50%;
	margin-left:-280px;
	top:325px;
	overflow: hidden;
	z-index:199;
	display:none;
}
.menu-subfix a{
	font-size:15px;
	color:white;
}
.menu-subfix ul{
	list-style:none;
	padding:0;
	margin:0;
}

.menu-subfix li{
	height:30px;
	list-style:none;	
	margin:0;
	text-align:left;
	padding:10px 10px;
	border:0;
	box-shadow: 0;
}
/*li.up:hover + .menu-sub{
 display:block;
}*/

.bc{
	color:white;
	width:730px;
	height:22px;
	padding:15px ;
	background-color:#676767;
}
.bc a{
	text-decoration:none;
	font-weight:bold;
	color:white;
}
.bc-red{
	/*background: url('../../images/bc-red.png') no-repeat;*/
	position: absolute;
	width: 45px;
	height: 35px;
	top: 120px;
	left: 50%;
	margin-left: 440px;
}
.content{
	background-color:#fff;
	height:auto;
	padding:20px 10px 10px 10px;
	min-height: 612px;
}

.list-thumb{
	float:left;
	width:150px;
	height:150px;
	border: 1px solid rgba(0,0,0,0.1);
	margin:20px;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.1);
}
.list-thumb:hover{
	opacity:0.7;
}
.list-thumb .nail{
	text-align:center;
	margin:2.5px auto;
	height:125px;
}
.list-thumb .gbr{
	width:120px;
	height:120px;
}
.list-thumb .title{
	padding:5px; 
	text-align: center;
	height:21px;
	background-color:#676767;
} 

.list-thumb a{
	text-decoration:none;
	color:white;
} 

.popup{
	width:780px;height:155px;
	background-color:#81bbac;
	position:fixed;
	top:350px;
	left:50%;
	margin-left:-250px;
	/*display:none;*/
}
.popup p{
	margin:20px auto;
	font-size:35px;
	text-align:center;
}
.overyal {
	display:none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.3);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
}

.profile{
	margin: auto;
	width:560px;
	background-color:rgba(196,204,223,0.46);
	border-radius:5px;
}


.profile-l{
	float:left;
}

.profile-l img{
	width:200px;
	height:250px;
	border:1px solid #BDBFC1;
}

.profile-l .name{
	width:202px;
	height:50px;
	background-color:#ba1509;
	color:white;
	position:absolute;
	text-align:center;
	top: 343px;
}
.profile-l  .name .full{
	font-size:20px;
}
.profile-l  .name .half{
	font-size:15px;
}
.profile-r{
	float:right;
	width:310px;
	margin:auto;
	padding:0 20px;
}

.u-cont{
	margin:0 0 20px 0;
}
.u-cont .h{
	font-weight:bold;
	padding:3px 20px;
	background-color:#2e3858;
	color:white;
}
.u-cont .c{
	padding:5px;
	background-color:rgba(255,255,255,0.55);
	height: 40px;
	font-size:15px;
	/*text-align:right;*/
}

.profile-bottom{
	
	width:520px;
	margin:20px;
}

.profile-bottom-date{
	float:left;
	background:url('../../images/profile_date.png') no-repeat;
	width:80px;
	height: 40px;
	font-size:40px;
	padding:20px 0;
	font-weight:bold;
	color:#545454;
	text-align:center;
}

.profile-bottom-r{
	text-align:right;
	float:right;
}

.search-container{
	min-height:450px;
	padding:20px;
	background-color:rgba(245,245,245,0.8);
}

	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		font-family:"Vanlose",Tahoma,Helvetica,sans-serif;
		font-size:.85em;
	}
	
	div.pagination a {
		border: 1px solid #ccdbe4;
		margin-right:3px;
		padding:2px 8px;

		background-position:bottom;
		text-decoration: none;

		color: #0061de;		
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #2b55af;
		background-image:none;
		background-color:#3666d4;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.pagination span.disabled {
		display:none;
	}
	div.pagination a.next{
		border:2px solid #ccdbe4;
		margin:0 0 0 10px;
	}
	div.pagination a.next:hover{
		border:2px solid #2b55af;
	}
	div.pagination a.prev{
		border:2px solid #ccdbe4;
		margin:0 10px 0 0;
	}
	div.pagination a.prev:hover{
		border:2px solid #2b55af;
	}

.merah select{		
   /**/
   background: rgba(191,191,191,0.4);
   width: 160px;
   padding: 5px;
   font-size: 12px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 30px;
   -webkit-appearance: none;
   color: #0F226C;
   /* */
}
.merah {
	margin:30px 0;
	width: 160px;
	/*
	border-radius: 3px;
	border:1px solid #b0afaf;
	box-shadow:0 -2px 1px #b0afaf;*/
	height: 30px;
	overflow: hidden;
	color: #0F226C;
	/*background:url(../../images/arrow.png) no-repeat right;*/

}
 
.search-container input{
	padding:0 10px;
	width: 140px;
	/*border-radius: 5px;
	border:1px solid #b0afaf;
	box-shadow:0 -2px 1px #b0afaf;
	*/
	height: 30px;
	color: #0F226C;
}

.add-edit-cont{
	
}
.add-edit-cont table{
	border-radius: 5px;
	width:95%;
	margin:10px auto;
	border:1px solid #b0afaf;
}
.add-edit-cont td{
	margin:0;
	padding:5px 10px;
}

.add-edit-cont tr:nth-child(even) {background: #ecebeb}
.add-edit-cont tr:nth-child(odd) {background: #FFF}

.error{
	color:red;
}
.success{
	font-weight:bold;
	color:blue;
}

.img-detail-cont{
	width:650px;
	margin:0 auto;
	text-align:center;
	max-height:800px;
}
.img-detail-cont img{
	max-width:500px;
	max-height:300px;
}
.text-blur{
	color:#b0afaf;
}

.crud{
	/*display:none; */
	/*height: 20px;*/
	/*width: 40px;*/
	/*position:absolute;*/
	/*background-color:white;*/
	margin:auto;
	padding:4px;
	text-align:center;
}

.group-access{
	width:95%;
	margin:0 auto
}

.group-access td{
	padding:5px;
}

.file-list table{
	/*border-radius: 5px;*/
	border-collapse:collapse;
	width:95%;
	margin:10px auto;
	border:1px solid #b0afaf;
}
.file-list th{
	border:1px solid #b0afaf;
}
.file-list td{
	margin:0;
	height:65px;
	vertical-align:top;
	/*padding:5px 10px;*/
	border:1px solid #b0afaf;
}
.file-list .htb{
	padding:3px;
	color:white;
	background-color:#2e3858;
}
.file-list .htm{
	padding:3px;
	color:white;
	background-color: rgb(189, 23, 10);
}
.fix-thumb {
	width:500px;
	margin:auto;
	text-align:center;
}
.fix-thumb ul{
	margin:0;padding:0;
	list-style-type:none;
}
.fix-thumb img{
	width:100px;height:100px;
}
.fix-thumb li{
	float:left;
	margin:5px;padding:5px;
	list-style-type:none;
}
/*.file-list tr:nth-child(even) {background: #ecebeb}
.file-list tr:nth-child(odd) {background: #FFF}*/